@media(min-width: 850px){ 
  .background_sign_in_image{
    @include sign_in_background_image;
    background-image: image-url('sign_in_background6.jpg');
    &:before{
      content: "";
      position: absolute;
      z-index: -1;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px) opacity(100%) brightness(0.4);
      background: inherit;
    }
    .user_reset_password_create{
      max-width: 750px;
      min-height: 500px;
      margin: 130px auto;
      background-color: transparent;
      position: relative;
      border: 1px dotted #aaa;
      padding: 35px;
      &__title{
        width: 100%;
        min-height: 130px;
        background-color: transparent;
        padding: 28px;
        text-align: center;
        &--text{
          font-size: 36px;
          font-weight: bold;
          color: #fff;
        }
        &--sub{
          width: 100%;
          height: 20px;
          color: #fff;
          font-size: 18px;
          margin-top: 8px;
        }
      }
      &__box{
        max-width: 440px;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        position: relative;
        &__name{
          padding: 15px 30px;
          border-bottom: 2px dotted #777777;
          &--text{
            color: #fff;
            font-size: 27px;
            font-weight: bold;
          }
        }
        &__reset_password{
          padding: 25px;
          margin-top: 7px;
          &--email{
            font-size: 17px;
            font-weight: bold;
            color: red;
          }
          &--text{
            color: #fff;
            font-size: 17px;
          }
        }
        &__btn{
          display: block;
          text-decoration: none;
          background: linear-gradient(to right,#fff 55%, transparent 45%);
          background-size: 200% 100%;
          background-position: right bottom;
          transition: all .3s ease-out;
          border: solid 2px #fff;
          border-radius: 25px;
          width: 130px;
          min-height: 25px;
          font-size: 12px;
          text-align: center;
          line-height: 25px;
          padding: 7px;
          color: #fff;
          margin: 0 auto;
          margin-top: 20px;
          &:hover{
            cursor: pointer;
            background-position: left bottom;
            color: #ff9800;
            font-weight: bold;
            border: solid 2px #ff9800;
          }
          .fas.fa-angle-right{
          }
          &--text{
            margin-left: 2px;
          }
        }
      }
    }
    .user_reset_password_tab{
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 7px 10px;
      .fas.fa-bars{
        font-size: 20px;
        color: #fff;
      }
    }
  }
}

@media(max-width: 849px){
  .background_sign_in_image{
    @include sign_in_background_image;
    background-image: image-url('sign_in_background6.jpg');
    background-position: left 100px bottom 50px;
    &:before{
      content: "";
      position: absolute;
      z-index: -1;
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -o-filter: blur(10px);
      -ms-filter: blur(10px);
      filter: blur(10px) opacity(100%) brightness(0.4);
      background: inherit;
    }
    .user_reset_password_create{
      max-width: 750px;
      min-height: 500px;
      margin: 100px auto 0px;
      background-color: transparent;
      position: relative;
      &__title{
        width: 100%;
        min-height: 130px;
        background-color: transparent;
        padding: 32px;
        text-align: center;
        &--text{
          font-size: 27px;
          font-weight: bold;
          color: #fff;
        }
        &--sub{
          width: 100%;
          height: 20px;
          color: #fff;
          font-size: 18px;
          margin-top: 8px;
        }
      }
      &__box{
        max-width: 440px;
        margin: 0 auto;
        margin-top: 35px;
        text-align: center;
        position: relative;
        color: #fff;
        &__name{
          &--text{
            font-size: 22px;
            font-weight: bold;
            color: #fff;
          }
        }
        &__reset_password{
          margin-top: 15px;
          padding: 15px;
          &--email{
            font-size: 15px;
            font-weight: bold;
            color: red;
          }
          &--text{
            font-size: 15px;
            color: #fff;
          }
        }
        &__btn{
          display: block;
          margin: 45px auto 0px;
          text-decoration: none;
          background-color: #ff9800;
          transition: all .3s ease-out;
          border: solid 1px  #ff9800;
          border-radius: 30px;
          width: 120px;
          min-height: 30px;
          font-size: 12px;
          color: #000;
          text-align: center;
          line-height: 30px;
          padding: 5px;
          font-weight: bold;
          color: #fff;
          &:hover{
            cursor: pointer;
          }
          .fas.fa-angle-right{
          }
          &--text{
            margin-left: 2px;
          }
        }
      }
    }
    .user_reset_password_tab{
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 7px 10px;
      .fas.fa-bars{
        font-size: 20px;
        color: #fff;
      }
    }
  }
}