.alert{
  text-align: center;
  background-color: #ea352d;
  color: #fff;
  font-weight: bold;
  font-size: 20px; 
}

.notice{
  text-align: center;
  background-color: #008080;
  color: #fff;
  font-weight: bold;
  font-size: 20px; 
}